@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --app-background: #05080b;
  --app-container: #101419;

  --accent: #f37513;
  --accent-dark: #231a14;

  --border-primary: #25292e;
  --border-secondary: #4d4d4d;

  --text-primary: #eeeeee;
  --text-secondary: #a9a9a9;
}

@theme inline {
  --color-app-background: var(--app-background);
  --color-app-container: var(--app-container);

  --color-accent: var(--accent);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
